---
import { Card } from '../../components/Card';
import { CutCornerButton } from '../../components/CutCornerButton';
import { Hexagon } from '../../components/Hexagon';
import { Tag } from '../../components/Tag';
import DefaultLayout from '../../layouts/Default.astro';

import { getCollection } from 'astro:content';
import { getPostColorFromCategory } from '../../utils/postUtils';
import { twMerge } from 'tailwind-merge';
import { motion } from 'framer-motion';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const {
  data: { description, title },
  slug
} = posts[0];
---

<DefaultLayout>
  <section class='py-60 relative overflow-x-clip'>
    <div class='absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2'>
      <!-- <Hexagon size={800} duration={35} client:load /> -->
    </div>
    <div class='absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2'>
      <!-- <Hexagon size={1200} reverse duration={55} client:load /> -->
    </div>
    <div class='container'>
      <div class='max-w-3xl mx-auto'>
        <p
          class='uppercase text-center text-zinc-500 tracking-wider font-extrabold'
        >
          Latest Post
        </p>
        <h1
          class='mt-4 font-black font-heading text-5xl md:text-6xl lg:text-7xl text-center'
        >
          {title}
        </h1>
        <p
          class='text-center text-xl md:text-2xl mt-6 text-zinc-400 max-w-xl mx-auto'
        >
          {description}
        </p>
        <div class='flex justify-center mt-10'>
          <a href={`/blog/${slug}`}>
            <CutCornerButton>Read More</CutCornerButton>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class='py-32 bg-zinc-900/30 backdrop-blur-sm'>
    <div class='container'>
      <div class='grid grid-cols-1 md:grid-cols-2 gap-8'>
        <div class='flex flex-col gap-8 lg:gap-12'>
          {
            posts.map(
              ({ data: { title, description, category }, slug }, index) => (
                <motion.a
                  client:load
                  initial={{
                    opacity: 0,
                    y: 20
                  }}
                  whileInView={{
                    opacity: 1,
                    y: 0
                  }}
                  viewport={{
                    once: true,
                    amount: 0.5
                  }}
                  transition={{
                    duration: 0.5,
                    ease: 'easeIn'
                  }}
                  href={`/blog/${slug}`}
                  className={twMerge(index % 2 ? 'block md:hidden' : '')}
                >
                  <Card
                    color={getPostColorFromCategory(category)}
                    buttonText='Read More'
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class='font-heading font-black text-3xl mt-4'>
                      {title}
                    </h2>
                    <p class='text-lg mt-6 text-zinc-400'>{description}</p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>
        <div class='flex-col gap-8 lg:gap-12 mt-24 hidden md:flex'>
          {
            posts.map(
              ({ data: { title, description, category }, slug }, index) => (
                <motion.a
                  client:load
                  initial={{
                    opacity: 0,
                    y: 20
                  }}
                  whileInView={{
                    opacity: 1,
                    y: 0
                  }}
                  viewport={{
                    once: true,
                    amount: 0.5
                  }}
                  transition={{
                    duration: 0.5,
                    ease: 'easeIn'
                  }}
                  className={twMerge(index % 2 ? '' : 'hidden')}
                  href={`/blog/${slug}`}
                >
                  <Card
                    color={getPostColorFromCategory(category)}
                    buttonText='Read More'
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class='font-heading font-black text-3xl mt-4'>
                      {title}
                    </h2>
                    <p class='text-lg mt-6 text-zinc-400'>{description}</p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
